# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

    - Popular Languages for Data Science
    - Libraries for Data Science
    - Tools for Data Science
    - Arithmetic Operations

Some of the popular languages that Data Scientists use are:
    
    1. Python
    2. R
    3. SQL
    5. Julia

Some of the commonly used libraries used by Data Scientists include:
    
    1. Pandas
    2. Numpy
    3. Keras
    4. Scikit-Learn
    5. XGB Boost

| Data Science Tools |
|----|
| Jupyter Notebook |
| IBM Watson |
| Kaggle Notebook |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# Simple Arithmetic expression using (*) and (+)
(3*4)+5

17

In [2]:
# Arithmetic operation to convert '200 min' into 'hrs'
(200)/60

3.3333333333333335

## Author
Syed Huzaifa Ahmed